h1{ font:200 70px @anglecia; color:#fff; z-index:10; position:relative; text-align:center; }
h2{ font:60px/60px @bauhaus; margin:50px 0 20px; }
.button{ padding:3px 20px 0; background:#ECB014; font:12px/45px @bauhaus; text-transform:uppercase; letter-spacing:.2em;
    .hover({ text-decoration:none; background:lighten(#ECB014, 5%); });
    &--green{ background-color:@greenColor;
        .hover({ background:lighten(@greenColor, 5%); });
    }
}
.p-large{ font:300 36px/46px @anglecia; margin:20px 0 20px 40px }
.breadcrumbs{ z-index:10; position:relative; text-align:center; font:12px/20px @muller;
    &__item{ margin:3px; color:#3BE64E}
}
.details-page{
    &__row{ }
    &__column{
        &--left{ padding:0 30px 0 145px; }
        &--right{ background-color:@ecruColor; padding:53px 210px 0 65px;
        .sm({ padding: 0 33px; })
        }
    }
    &__table{
        tr{ border-top:1px solid #BBABA8;
            &:first-child{ border-top:none }
        }
        td, th{ border-top:none }
        td{ padding:20px 0; font:13px @muller; text-transform:uppercase; color:@textColor; }
        th{ font:500 30px @anglecia; color:@greenColor; padding:8px 0; }
    }
}
.info{
    &__price{ font:500 22px @anglecia; color:@textColor;
        &--big{ font-size:30px; }
    }
}
.section{ padding-top:90px; background-color:@lightGreenColor;
    &--brown{ background-color:@ecruColor; }
    &__top{
        &-line{ .flex(@align: center) }
        &-text{ font: 16px @anglecia; color: @greenColor; text-transform: uppercase; letter-spacing: 0.3rem; white-space: nowrap; margin: 20px 57px; }
        &-hr{ .size(100%, 1px); margin:10px 0 10px; background:#548B52; }
    }
    &-logo{ .square(52px); margin:0 -21px; background:url(/images/logo-small.svg) no-repeat 50% / contain; }
}

