<template>
    <div class="index-page">
        <div class="section section--brown">
            <div class="section-logo m-auto"/>
            <div class="section__top">
                <div class="section__top-line no-gutters">
                    <div class="section__top-hr"></div>
                    <div class="section__top-text text-center">скидки и акции</div>
                    <div class="section__top-hr"></div>
                </div>
            </div>
            <h2 class="text-center">Спецпредложения</h2>
        </div>
    </div>
</template>

<script src="./script.js" />

<style
    src="./style.less"
    lang="less"
/>
