<template>
    <div class="rooms-page details-page">
        <div class="rooms-page__top">
            <!--            <img class="w-100" src="/images/header1.png" alt="">-->
            <div class="breadcrumbs">
                <a href class="breadcrumbs__item">Главная</a>
                <span class="breadcrumbs__item">/</span>
                <a href class="breadcrumbs__item">Номера и цены</a>
                <span class="breadcrumbs__item">/</span>
                <a href class="breadcrumbs__item">Номер</a>
                <span class="breadcrumbs__item">/</span>
                <a href class="breadcrumbs__item">Стандартный номер</a>
            </div>
            <h1>Стандартный номер</h1>
        </div>
        <!--            <img class="w-75 m-auto" src="/temp/rooms-main.png" alt="">-->
        <!--            <div class="row">-->
        <!--                <img class="col-2" src="/temp/rooms-main.png" alt="">-->
        <!--                <img class="col-2" src="/temp/rooms-main.png" alt="">-->
        <!--                <img class="col-2" src="/temp/rooms-main.png" alt="">-->
        <!--                <img class="col-2" src="/temp/rooms-main.png" alt="">-->
        <!--                <img class="col-2" src="/temp/rooms-main.png" alt="">-->
        <!--                <img class="col-2" src="/temp/rooms-main.png" alt="">-->
        <!--                <img class="col-2" src="/temp/rooms-main.png" alt="">-->
        <!--            </div>-->
        <div class="row details-page__row">
            <div class="col-md-5 order-md-2 col-12 details-page__column--right">
                <div class="info">
                    <div class="info__price mb-4">от <span class="info__price--big">18 500</span> р. / ночь</div>
                    <div class="row no-gutters mb-4">
                        <a href class="button button--green info__button w-100 text-center">забронировать номер</a>
                    </div>
                    <table class="table details-page__table">
                        <tbody>
                        <tr>
                            <td>комнаты</td>
                            <th scope="row">1</th>
                        </tr>
                        <tr>
                            <td>кол-во мест</td>
                            <th scope="row">2</th>
                        </tr>
                        <tr>
                            <td>площадь</td>
                            <th scope="row">20 <small>м<sup>2</sup></small></th>
                        </tr>
                        <tr>
                            <td>таких номеров</td>
                            <th scope="row">24</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-7 order-md-1 col-12 details-page__column--left">
                <h2>Уют и комфорт в номере</h2>
                <p class="p-large">Номер рассчитан для размещения до 2-х человек, без возможности установки
                    дополнительного места.</p>
                <p>Данный номер рассчитан для размещения до 4-х человек, с возможностью установки дополнительного места.
                    Всего в отеле 2 номера данной категории.</p>
                <div class="rooms-page__icons row">
                    <div class="rooms-page__icons__item m-3">
                        <div class="rooms-page__icons__circle rooms-page__icons__circle--tree"></div>
                        <div class="rooms-page__icons__text text-center text-uppercase mt-2">Wi-fi</div>
                    </div>
                    <div class="rooms-page__icons__item m-3">
                        <div class="rooms-page__icons__circle rooms-page__icons__circle--wifi"></div>
                        <div class="rooms-page__icons__text text-center text-uppercase mt-2">Диван</div>
                    </div>
                    <div class="rooms-page__icons__item m-3">
                        <div class="rooms-page__icons__circle rooms-page__icons__circle--tree"></div>
                        <div class="rooms-page__icons__text text-center text-uppercase mt-2">2 кровати</div>
                    </div>
                    <div class="rooms-page__icons__item m-3">
                        <div class="rooms-page__icons__circle rooms-page__icons__circle--wifi"></div>
                        <div class="rooms-page__icons__text text-center text-uppercase mt-2">Телевизор</div>
                    </div>
                    <div class="rooms-page__icons__item m-3">
                        <div class="rooms-page__icons__circle rooms-page__icons__circle--tree"></div>
                        <div class="rooms-page__icons__text text-center text-uppercase mt-2">Кондиционер</div>
                    </div>
                    <div class="rooms-page__icons__item m-3">
                        <div class="rooms-page__icons__circle rooms-page__icons__circle--wifi"></div>
                        <div class="rooms-page__icons__text text-center text-uppercase mt-2">Фен</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 order-md-2 col-12 details-page__column--right">
                <div class="info">
                    <div class="info__price mb-4">от <span class="info__price--big">18 500</span> р. / ночь</div>
                    <div class="row no-gutters mb-4">
                        <a href class="button button--green info__button w-100 text-center">забронировать номер</a>
                    </div>
                    <table class="table details-page__table">
                        <tbody>
                        <tr>
                            <td>комнаты</td>
                            <th scope="row">1</th>
                        </tr>
                        <tr>
                            <td>кол-во мест</td>
                            <th scope="row">2</th>
                        </tr>
                        <tr>
                            <td>площадь</td>
                            <th scope="row">20 <small>м<sup>2</sup></small></th>
                        </tr>
                        <tr>
                            <td>таких номеров</td>
                            <th scope="row">24</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-7 order-md-1 col-12 details-page__column--left">
                <h2>План номера</h2>
                <div class="p-3 mb-3 border">
                    <img class="w-100" src="/temp/rooms1.png" alt="">
                </div>

                <p class="ml-5">Данный номер рассчитан для размещения до 4-х человек, с возможностью установки
                    дополнительного места.
                    Всего в отеле 2 номера данной категории.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 order-md-2 col-12 details-page__column--right">
                <div class="info">
                    <div class="info__price mb-4">от <span class="info__price--big">18 500</span> р. / ночь</div>
                    <div class="row no-gutters mb-4">
                        <a href class="button button--green info__button w-100 text-center">забронировать номер</a>
                    </div>
                    <table class="table details-page__table">
                        <tbody>
                        <tr>
                            <td>комнаты</td>
                            <th scope="row">1</th>
                        </tr>
                        <tr>
                            <td>кол-во мест</td>
                            <th scope="row">2</th>
                        </tr>
                        <tr>
                            <td>площадь</td>
                            <th scope="row">20 <small>м<sup>2</sup></small></th>
                        </tr>
                        <tr>
                            <td>таких номеров</td>
                            <th scope="row">24</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-7 order-md-1 col-12 details-page__column--left">
                <h2>Вид корпуса</h2>
                <div class="p-3 mb-3 border">
                    <img class="w-100" src="/temp/rooms2.png" alt="">
                </div>

                <p class="ml-5">Данный номер рассчитан для размещения до 4-х человек, с возможностью установки
                    дополнительного места.
                    Всего в отеле 2 номера данной категории.</p>
            </div>
        </div>
        <div class="section">
            <div class="section-logo m-auto"/>
            <div class="section__top">
                <div class="section__top-line no-gutters">
                    <div class="section__top-hr"></div>
                    <div class="section__top-text text-center">что происходит</div>
                    <div class="section__top-hr"></div>
                </div>
            </div>
            <h2 class="text-center">Территория отеля</h2>
        </div>
    </div>
</template>

<style
    src="./style.less"
    lang="less"
/>
