.rooms-page{
    &__top{ background:url(/images/header1.png) no-repeat 50% / cover; color:#fff; padding: 187px 0 350px;}
    &__icons{
        &__item{ padding:0; }
        &__circle{ .square(80px); .flex(@align:center, @justify:center); border-radius:50%; border:1px solid rgba(187, 166, 136, 0.3); border-right-color:transparent;
            &:before{ content:''; .square(28px); background:url(/images/i-facilities.svg) no-repeat; }
            &--tree:before{ background-position:0 0; }
            &--wifi:before{ background-position:-28px 0; }
        }
        &__text{ font:12px/14px @muller; }
    }
}
