<template>
    <div class="root">
        <header class="header">
            <div class="container-xl">
                <div class="row no-gutters justify-content-between align-items-center">
                    <div class="header__address">МО, Солнечногорский р-н,<br>дер. Трусово</div>
                    <a href="" class="header__whatsapp d-flex align-items-center">
                        <span>Напишите нам<br>в Whatsapp</span>
                    </a>
                    <a href="/" class="header__logo"></a>
                    <div class="header__phone">
                        <div class="header__phone-number">+7 (495) 323-58-30</div>
                        <a href="" class="header__phone-link">Заказать звонок</a>
                    </div>
                    <a href="" class="button header__booking">Забронировать</a>
                </div>
                <nav class="header__nav row no-gutters justify-content-between">
                    <div class="header__nav-col d-flex justify-content-between">
                        <a href="" class="header__nav-link">Об отеле</a>
                        <a href="" class="header__nav-link">спец. предложение</a>
                        <a href="" class="header__nav-link">Афиша</a>
                    </div>
                    <div class="header__nav-col d-flex justify-content-between">
                        <a href="" class="header__nav-link">фото и видео</a>
                        <a href="" class="header__nav-link">Отзывы</a>
                        <a href="" class="header__nav-link">Контакты</a>
                    </div>
                    <div class="header__nav-hr"></div>
                    <div class="col-12 d-flex justify-content-between">
                        <a href="" class="header__nav-link">Номера и цены</a>
                        <a href="" class="header__nav-link">Рестораны и бары</a>
                        <a href="" class="header__nav-link">SPA & Wellness</a>
                        <a href="" class="header__nav-link">Развлечения и отдых</a>
                        <a href="" class="header__nav-link">Мероприятия</a>
                    </div>
                </nav>
            </div>
        </header>
        <main class="main">
            <Nuxt />
        </main>
        <footer class="footer">
            <div class="container-xl">
                <div class="row no-gutters">
                    <div class="col-4">
                        <div class="footer__logo"></div>
                        <div class="footer__info">
                            <div class="footer__info-title">Адрес отеля</div>
                            141534, Московская область<br>Солнечногорский р-н<br>деревня Трусово, БО Березки,<br>стр. 19
                        </div>
                        <div class="footer__info">
                            <div class="footer__info-title">телефон для справок</div>
                            <a href="tel:+74951491462" class="footer__info-link">+7 (495) 149-14-62</a>
                        </div>
                    </div>
                    <div class="footer__menu col row no-gutters">
                        <div class="col-3 footer__menu-group">
                            <div class="footer__menu-title"><a href="">номера и цены</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Номера</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Коттеджи</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Таунхаусы</a></div>
                        </div>
                        <div class="col-3 footer__menu-group">
                            <div class="footer__menu-title"><a href="">рестораны и бары</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Рестораны</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Бары</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Конференц-залы</a></div>
                        </div>
                        <div class="col-3 footer__menu-group">
                            <div class="footer__menu-title"><a href="">SPA & Wellness</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">SPA</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Бани и сауны</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Спорт и фитнес</a></div>
                        </div>
                        <div class="col-3 footer__menu-group">
                            <div class="footer__menu-title"><a href="">Мероприятия</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Частным клиентам</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Корпоративным клиентам</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Конференц-залы</a></div>
                        </div>
                        <div class="col-3 footer__menu-group">
                            <div class="footer__menu-title"><a href="">Развлечения</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Детям</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Семейны отых</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Пляжный отдых</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Прокат</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Мангальные площадки</a></div>
                        </div>
                        <div class="col-3 footer__menu-group">
                            <div class="footer__menu-title"><a href="">об отелеле</a></div>
                            <div class="footer__menu-item"><a href="" class="footer__menu-link">Новости</a></div>
                        </div>
                        <div class="col-3 footer__menu-group">
                            <div class="footer__menu-title"><a href="">акции</a></div>
                            <div class="footer__menu-title"><a href="">медиа</a></div>
                            <div class="footer__menu-title"><a href="">отзывы</a></div>
                        </div>
                        <div class="col-3 footer__menu-group">
                            <div class="footer__menu-title"><a href="">афиша</a></div>
                            <div class="footer__menu-title"><a href="">контакты</a></div>
                            <div class="footer__menu-title"><a href="">Бронирование</a></div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters align-items-center">
                    <div class="col-4">
                        <div class="footer__links">
                            <div class="footer__links-item"><a href="" class="footer__links-link">ПРАВОВАЯ ИНФОРМАЦИЯ</a></div>
                            <div class="footer__links-item"><a href="" class="footer__links-link">ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ</a></div>
                            <div class="footer__links-item"><a href="" class="footer__links-link">РЕКВИЗИТЫ</a></div>
                        </div>
                    </div>
                    <div class="col row no-gutters justify-content-between align-items-center">
                        <div class="footer__social d-flex">
                            <a href="" class="footer__social-link footer__social-link--vk"></a>
                            <a href="" class="footer__social-link footer__social-link--ig"></a>
                            <a href="" class="footer__social-link footer__social-link--fb"></a>
                        </div>
                        <a href="" class="footer__delivery d-flex align-items-center">
                            <span class="d-inline-block">Доставка блюд<br>из ресторана<br>«Порто Истра»</span>
                        </a>
                        <a href="" class="footer__lada"></a>
                    </div>
                </div>
                <div class="footer__bottom row no-gutters justify-content-between align-items-center">
                    <div class="footer__copyright">© 2001-2020 «ОТЕЛЬ ИСТРА ХОЛИДЕЙ»</div>
                    <a
                        href=""
                        target="_blank"
                        class="footer__develop d-flex align-items-center"
                    ><span>Разработка сайта<br>Renaissance Art Group</span></a>
                </div>
            </div>
        </footer>
    </div>
</template>

<style
    src="./style.less"
    lang="less"
/>

<script src="./script.js"/>
