.font-face('Muller', '/fonts/Muller/MullerRegular');
.font-face('Muller', '/fonts/Muller/MullerMedium', 500);
.font-face('Anglecia Pro Display', '/fonts/AngleciaPro/AngleciaProDisplayRegular');
.font-face('BauhausC Medium', '/fonts/BauhausC/BauhausC-Medium');

body{ font:20px/30px @muller; color: @textColor; }
a{ color:#fff; .transition();
    &:hover{ color:#fff; }
}

.root{ overflow:hidden; }
.header{ position:absolute; left:0; right:0; top:0; padding-top:15px; font:500 14px @muller; color:#fff; z-index: 10;
    &__whatsapp{ text-decoration:underline;
        &:before{ content:''; display:block; .square(36px); margin-right:15px; background:url(/images/i-whatsapp.svg) no-repeat; }
        .hover({ text-decoration:none; });
    }
    &__logo{ .size(218px,50px); margin:0 -21px; background:url(/images/logo.png) no-repeat 50% / contain;
        .md({ margin:0; });
    }
    &__phone{
        &-number{ margin-bottom:3px; font:500 18px @muller; }
        &-link{ font:15px @muller; text-decoration:underline;
            .hover({ text-decoration:none; });
        }
    }
    &__booking{ background:#ECB014; }
    &__nav{ margin-top:18px; text-transform:uppercase;
        &-col{ width:37%; max-width:400px; }
        &-hr{ .size(100%, 1px); margin:11px 0 14px; background:#548B52; }
    }
}

@faded:rgba(255, 252, 252, .82);
.footer{ padding-top:40px; background:url(/images/footer.jpg) no-repeat 50% / cover; color:#fff;
    &__logo{ .size(218px, 50px); max-width:100%; background:url(/images/logo.png) no-repeat 50% / contain; }
    &__info{ margin-top:40px; font:500 14px/18px @muller; color:@faded;
        &-title{ margin-bottom:15px; font:14px @bauhaus; color:#fff; text-transform:uppercase; letter-spacing:.1em; }
        &-link{ color:@faded; }
    }
    &__menu{ font:13px @bauhaus;
        &-group{ margin-bottom:50px; }
        &-title{ margin-bottom:15px; font:14px @bauhaus; text-transform:uppercase; letter-spacing:.1em; white-space:nowrap; }
        &-item{
            & + &{ margin-top:10px; }
        }
        &-link{ color:@faded; }
    }
    &__links{ font:14px @bauhaus;
        &-item{
            & + &{ margin-top:20px; }
        }
        &-link{ text-decoration:underline;
            .hover({ text-decoration:none; });
        }
    }
    &__social{
        &-link{ .square(60px); .flex(@align:center, @justify:center); border-radius:50%; border:1px solid #fff; border-right-color:transparent;
            &:before{ content:''; .square(21px); background:url(/images/i-socials.svg) no-repeat; }
            & + &{ margin-left:30px; }
            &--vk:before{ background-position:0 0; }
            &--ig:before{ background-position:0 -21px; }
            &--fb:before{ background-position:0 -42px; }
            .hover({ border-right-color:#fff; });
        }
    }
    &__delivery{ font:14px/17px @bauhaus; text-transform:uppercase;
        &:before{ content:''; .square(75px); margin-left:-5px; background:url(/images/i-pizza.png) no-repeat 50% / contain; }
    }
    &__lada{ .size(159px,52px); background:url(/images/logo-lada.png) no-repeat 50% / contain; }
    &__bottom{ margin-top:40px; padding:30px 0 34px; border-top:1px solid fade(#fff,20%); font:13px/14px @bauhaus; }
    &__copyright{ letter-spacing:.2em; color:@faded; }
    &__develop{ color:@faded;
        &:before{ content:''; .size(56px,34px); margin-right:15px; background:url(/images/logo-develop.png) no-repeat 50% / contain; }
        .hover({ text-decoration:underline; });
    }
}
