.font-face(@title, @path, @weight:normal, @style:normal){
	@font-face{
		font-family:@title;
		src:local(@title), url("@{path}.woff2") format("woff2");
		src:url("@{path}.eot");
		src:url("@{path}.eot?#iefix") format("embedded-opentype"),
		url("@{path}.woff") format("woff"),
		url("@{path}.ttf") format("truetype");
		font-weight:@weight;
		font-style:@style;
	}
}
.placeholder(@rules){
	::-webkit-input-placeholder{ @rules(); }
	:-moz-placeholder{ @rules(); }
	::-moz-placeholder{ @rules(); }
	:-ms-input-placeholder{ @rules(); }
}
.cursor-grab(){
	cursor:url(https://mail.google.com/mail/images/2/openhand.cur) 8 8, move;
	cursor:-moz-grab;
	cursor:-webkit-grab;
	cursor:grab;
}
.cursor-grabbing(){
	cursor:url(https://mail.google.com/mail/images/2/closedhand.cur) 8 8, move;
	cursor:-moz-grabbing;
	cursor:-webkit-grabbing;
	cursor:grabbing;
}
.appearance(@v){
	-webkit-appearance:@v;
	-moz-appearance:@v;
	appearance:@v;
}
.clearfix(){
	&:before,
	&:after{ content:''; display:table; clear:both; }
}
.hover(@rules){
	html:not(.touch) &:hover{ @rules(); }
}
.touch(@rules){
	html.touch &{ @rules(); }
}
.not-touch(@rules){
	html:not(.touch) &{ @rules(); }
}
.top(@v:'block'){ display:~'inline-@{v}'; vertical-align:top; }
.middle(@v:'block'){ display:~'inline-@{v}'; vertical-align:middle; }
.bottom(@v:'block'){ display:~'inline-@{v}'; vertical-align:bottom; }
.shadow(@size:2px, @shadow:'0 0'){ box-shadow:0 @size @size*2 rgba(0, 0, 0, .3), ~"@{shadow}"; }
.shadow2(@size:2px, @shadow:'0 0'){ box-shadow:0 @size @size*2 rgba(0, 0, 0, .2), 0 @size/2 @size rgba(0, 0, 0, .1), ~"@{shadow}"; }
.transition(@v:.2s){ transition:@v; }
.ellipsis(){ overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.center(@p:absolute){ position:@p; left:0; right:0; top:0; bottom:0; margin:auto; }
.center2(@p:absolute){ position:@p; left:50%; top:50%; transform:translate3d(-50%,-50%,0); }
.size(@w, @h){ width:@w; height:@h; }
.square(@s){ .size(@s, @s); }
.max-size(@w, @h){ max-width:@w; max-height:@h; }
.min-size(@w, @h){ min-width:@w; min-height:@h; }
.max-square(@s){ .max-size(@s, @s); }
.min-square(@s){ .min-size(@s, @s); }
.blur(@v:4px){ filter:blur(@v); }
.flex(@d:flex, @align:initial, @justify:initial, @dir:initial) { display:@d; align-items:@align; justify-content:@justify; flex-direction:@dir; }
